version: "2"

networks:
  proxy_net:
    external:
      name: proxy_net

volumes:
  {{ redmine_volumes.REDMINE_DB_VOLUME }}:
    external: True
  {{ redmine_volumes.REDMINE_VOLUME }}:
    external: True
  {{ redmine_volumes.REDMINE_GEMS_VOLUME }}:
    external: True

services:

  redmine:
    image: redmine
    command: >
      sh -c 'apt-get update; apt-get install -y cron vim; cron;
      rails server -b 0.0.0.0;'
    networks:
      - proxy_net
    volumes:
      - {{ redmine_volumes.REDMINE_VOLUME }}:/usr/src/redmine
      - {{ redmine_volumes.REDMINE_GEMS_VOLUME }}:/usr/local/bundle
    environment:
     VIRTUAL_HOST: {{ redmine_domain_name }}
     VIRTUAL_PROTO: http
     REDMINE_DB_MYSQL: mysql
     REDMINE_DB_PASSWORD: {{REDMINE_DB_PASSWORD}}
{% if SSL == True %}
     LETSENCRYPT_HOST: {{ redmine_letsencrypt_domain_name }}
     LETSENCRYPT_EMAIL: {{ redmine_letsencrypt_mail }}
     LETSENCRYPT_TEST: "{{ redmine_letsencrypt_testmode }}"
{% endif %}

    links:
      - mysql
    restart: always

  mysql:
    networks:
      - proxy_net
    image: mariadb:latest
    volumes:
      - {{ redmine_volumes.REDMINE_DB_VOLUME }}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{REDMINE_DB_PASSWORD}}
      - MYSQL_DATABASE=redmine
    restart: always

